<main>

  <style>
    table { width: 100%; border-collapse: collapse; margin-bottom: 20px; } th,
    td { padding: 12px; text-align: left; border-bottom: 1px solid #ddd; }
    button { background-color: #4CAF50; color: white; border: none; padding: 5px
    10px; text-align: center; text-decoration: none; display: inline-block;
    font-size: 14px; margin: 2px 2px; cursor: pointer; }
  </style>

  {{#if admin}}
    <button>Boton Admin</button>
  {{/if}}

  <h2>hola como estas {{name}}</h2>
  <h1>Productos</h1>

  <header>
    <a href="/cartsview/{{user}}" role="button">mostrar carrito</a>
  </header>
  <article>
    <table>
      <tr>
        <th>title</th>
        <th>size</th>

        <th>accion</th>
      </tr>
      {{#each payload}}
        <tr>
          <td>{{this.title}}</td>
          <td>{{this.size}}</td>
          <td>{{this.price}}</td>

          <td>
            <button
              onclick="buyProduct('{{this._id}}')"
              data-product-id="{{this._id}}"
            >Comprar</button>
          </td>
        </tr>
      {{/each}}
    </table>
    <p>Pagina actual {{page}}</p>
    <a href="{{prevLink}}" role="button">Anterior</a>
    <a href="{{nextLink}}" role="button">Siguiente</a>
  </article>
  <header>
    <a href="/logout" role="button">salir</a>
  </header>

</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/products.js"></script>